# Discord Bot Token
DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN
ENVIRONMENT=dev
# Google Gemini API Key
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
OPENROUTER_API_KEY=YOUR_OPENROUTER_API_KEY
WEBHOOK_URL=WEBHOOK_URL_TO_LOG_TO
LOG_LEVEL=ERROR